# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Project specific

debug/*
release/*
src/SndLibShuriken/config.log
src/SndLibShuriken/config.status
src/SndLibShuriken/sndlib-config
src/SndLibShuriken/sndlib.pc
src/SndLibShuriken/unix-config.h

